<!-- Header Section -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img src="../../../assets/movieIcon.jpg" alt="" width="35" height="30">
      </a>
      <div class="d-grid d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" routerLink="/login">Log Out</button>
      </div>
    </div>
  </nav>
  <!-- Main Content -->
  <div class="container-fluid my-4">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Movie Id</th>
        <th scope="col">Movie Name</th>
        <th scope="col">Total Seat</th>
        <th scope="col">Booked Seat</th>
        <th scope="col">Available Seat</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">101</th>
        <td>Krish 3</td>
        <td>100</td>
        <td>0</td>
        <td>100</td>
        <td><button class="btn btn-danger">Action</button></td>
      </tr>
      <tr>
        <th scope="row">102</th>
        <td>DDL</td>
        <td>100</td>
        <td>0</td>
        <td>100</td>
        <td><button class="btn btn-danger">Action</button></td>
      </tr>
      <tr>
        <th scope="row">103</th>
        <td>Ant Man</td>
        <td>100</td>
        <td>0</td>
        <td>100</td>
        <td><button class="btn btn-danger">Action</button></td>
      </tr>
    </tbody>
  </table>
  </div>

  <!-- Footer Section -->