
<p>
  <mat-toolbar color="primary">

    <span>MovieBookingApplication</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" class="example-button-row" aria-label="Example icon-button with share icon" routerLink="/home">
      Back
    </button>
  </mat-toolbar>
</p>


<table class="table" *ngIf="other==''">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Movie Id</th>
      <th scope="col">Movie Name</th>
      <th scope="col">Release Date</th>
      <th scope="col">Total Seat</th>
      <th scope="col">Total Seat Booked</th>
      <th scope="col">Available Seats For Booking</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{movie.movieId}}</th>
      <td>{{movie.movieName}}</td>
      <td>{{movie.releaseDate}}</td>
      <td>{{movie.totalSeat}}</td>
      <td>{{movie.totalSeatBooked}}</td>
      <td>{{movie.availableSeatsForBooking}}</td>

    </tr>
  </tbody>
</table>

<div *ngIf="other!=''">
 {{other}}
</div>

